/* booking button */
QPushButton#btnBookingNoData {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #ff9800;
  border: 1px solid #000000;
  border-radius: 4px;

}

QPushButton#btnBookingNoData:hover {
  color: #000;
  background-color: #ff9800;
  border: 1px solid #000000;
}

QPushButton#btnBookingNoData:pressed {
  border: 1px solid #000000;
}

QPushButton#btnBookingNoData:disabled {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #000000;
}

QPushButton#btnBookingData {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #7db9b3;
  border: 1px solid #000000;
  border-radius: 4px;

}

QPushButton#btnBookingData:hover {
  color: #000;
  background-color: #7db9b3;
  border: 1px solid #000000;
}

QPushButton#btnBookingData:pressed {
  border: 1px solid #000000;
}

QPushButton#btnBookingData:disabled {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #000000;
}

/* ///////////////////////////////////////////////
			       Buttons
////////////////////////////////////////////////*/

QPushButton#btnDefault {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;

}

QPushButton#btnDefault:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefault:pressed {
border: 3px solid #f1f1f1;
}

QPushButton#btnDefault:disabled {
color : #000;
background-color: #e1e1e1;
border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultLeft {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

QPushButton#btnDefaultLeft:hover {
  color: #000;
  background-color: #f1f1f1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

QPushButton#btnDefaultLeft:pressed {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

QPushButton#btnDefaultLeft:disabled {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultLeft:checked {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}


QPushButton#btnDefaultCentral {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

QPushButton#btnDefaultCentral:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultCentral:pressed {
border: 1px solid #f1f1f1;
}

QPushButton#btnDefaultCentral:disabled {
color : #000;
background-color: #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

QPushButton#btnDefaultCentral:checked {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultRight {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

QPushButton#btnDefaultRight:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultRight:pressed {
  border: 1px solid #f1f1f1;
}

QPushButton#btnDefaultRight:disabled {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}

QPushButton#btnDefaultRight:checked {
  color : #000;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
}
/*
*/
QPushButton#btnPrimary {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  background-color: #357ebd;
  border: 1px solid #357ebd;
  border-radius: 4px;
}

QPushButton#btnPrimary:hover {
  color: #fff;
  /*
  background-color: #357ebd;
  border: 1px solid #357ebd;
  */
  background-color: #357ebd;
  border: 1px solid #357ebd;
}

QPushButton#btnPrimary:pressed {
border: 3px solid #357ebd;
}

QPushButton#btnPrimary:disabled {
color : #fff;
background-color: #357ebd;
border: 2px solid #357ebd;
}

QPushButton#btnDanger {

  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 4px;

}

QPushButton#btnDanger:hover {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #c9302c;
}

QPushButton#btnDanger:pressed {
border: 3px solid #c9302c;
}

QPushButton#btnDanger:disabled {
color : #fff;
background-color: #c9302c;
border: 2px solid #c9302c;
}

/* // ///////////////////////////////////////////////
blLeftButton
// /////////////////////////////////////////////// */ 
QPushButton#blLeftButton{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-left: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

QPushButton#blCenterButton {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border: 2px solid #e1e1e1;
}

QPushButton#blRightButton {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-right: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

QPushButton#blLeftButton:pressed,
QPushButton#blLeftButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #e1e1e1;
  border-left: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

QPushButton#blCenterButton:pressed,
QPushButton#blCenterButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #e1e1e1;
  border-left: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
}

QPushButton#blRightButton:pressed,
QPushButton#blRightButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


QPushButton#blToolHistoryBarWidgetViewButton{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-left: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /*border-image: url(view.png);*/
  qproperty-icon: url(view.png);
  /*background-image: view.png;*/
}

QPushButton#blToolHistoryBarWidgetViewButton:pressed,
QPushButton#blToolHistoryBarWidgetViewButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #e1e1e1;
  border-left: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

QPushButton#blToolHistoryBarWidgetDeleteButton{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-right: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /*border-image: url(view.png);*/
  qproperty-icon: url(close.png);
  /*background-image: view.png;*/
}

QPushButton#blToolHistoryBarWidgetDeleteButton:pressed,
QPushButton#blToolHistoryBarWidgetDeleteButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #e1e1e1;
  border-right: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
  border-bottom: 2px solid #e1e1e1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}


QPushButton#blTableButton{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border:none;
}

QPushButton#blTableButton:pressed,
QPushButton#blTableButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  border:none;
}

QPushButton#blToolInputWidgetHelpButton{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border:none;
  qproperty-icon: url(help.png);
}

QPushButton#blToolInputWidgetHelpButton:pressed,
QPushButton#blToolInputWidgetHelpButton:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
  border:none;
}

/*////////////////////////////////////////////////////////////////////////////
  // btnLink
  ////////////////////////////////////////////////////////////////////////////*/
QPushButton#btnLink{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  background-color: #5A8E8E;
  border:none;
}

QPushButton#btnLink:hover{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  background-color: #5A8E8E;
  border:none;
}

QPushButton#btnLink:pressed,
QPushButton#btnLink:checked {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
  border:none;
}

/*////////////////////////////////////////////////////////////////////////////
  // Scrollbar
  ////////////////////////////////////////////////////////////////////////////*/

QScrollBar:horizontal {
  background: #f1f1f1;
  height: 6px;
  margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
  background: #5A8E8E;
  border: 1px solid #5A8E8E;
  border-radius: 3px;
  min-height: 20px;
}

QScrollBar::add-line:horizontal {
  height: 0px;
}

QScrollBar::sub-line:horizontal {
  height: 0px;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  width: 0px;
  height: 0px;
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar:vertical {
  background: #f1f1f1;
  width: 6px;
  margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
  background: #5A8E8E;
  border: 1px solid #5A8E8E;
  border-radius: 3px;
  min-height: 20px;
}

QScrollBar::add-line:vertical {
  height: 0px;
}

QScrollBar::sub-line:vertical {
  height: 0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  width: 0px;
  height: 0px;
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

/* /////////////////////////////////////////////
	     QLineEdit
//////////////////////////////////////////////*/
QLineEdit{
  color : #585858;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 0;
}

/* /////////////////////////////////////////////
	     QComboBox
//////////////////////////////////////////////*/
QComboBox {
    color : #585858;
    background-color: #fff;
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 6px 12px;
    min-width: 6em;
}

QComboBox:editable {
    background: white;
}

QComboBox:!editable, QComboBox::drop-down:editable {
     background-color: #fff;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background-color: #fff;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: darkgray;
    border-top-right-radius: 4px; /* same radius as the QComboBox */
    border-bottom-right-radius: 4px;
}

QComboBox::down-arrow {
    image: url(downarrow.png);
}

QComboBox::down-arrow:on { /* shift the arrow when popup is open */
    top: 1px;
    left: 1px;
}

QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: #e1e1e1;
	color: #000;
	selection-color: #000;
}

/*////////////////////////////////////////////////////////////////////////////
// QTableView
////////////////////////////////////////////////////////////////////////////*/
QTableView {
    selection-background-color: #FFFFFF;
	selection-color: #000000;
	gridline-color: #e1e1e1;
	alternate-background-color: #f1f1f1;
}

QHeaderView::section {
	 background-color: #fff;
     color: #000;
	 font-weight: bold; 
     padding-left: 4px;
     border-bottom: 2px solid #e1e1e1;
	 border-top: 1px solid #e1e1e1;
	 border-left: 1px solid #e1e1e1;
	 border-right: 1px solid #e1e1e1;
 }

QHeaderView::section:checked {
     background-color: #fff;
	 color:#000;
 }

 
QTableView QTableCornerButton::section{
	background-color: #fff;						
}

QHeaderView {
	background-color: #fff;
}

QTableView{
	color: #000;
	background-color: #fff;
}

/*////////////////////////////////////////////////////////////////////////////
// QTabBar
////////////////////////////////////////////////////////////////////////////*/
QSplitter::handle {
    background-color:#d1d1d1;
}

QSplitter::handle:horizontal {
    width: 2px;
}

QSplitter::handle:vertical {
    height: 2px;
}

QSplitter::handle:pressed {
    background-color:#d1d1d1;
}

/*////////////////////////////////////////////////////////////////////////////
// QTabBar
////////////////////////////////////////////////////////////////////////////*/
 QTabBar::tab {
  color: #d1d1d1;
  padding: 2px;
  border-left: 1px solid #e1e1e1;
  background-color: #585858;
  border: none;
  border-top-right-radius: 4px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
  background-color: #585858;
  border-left: 1px solid #e1e1e1; 
  color: white;
}

QTabBar::tab:!selected {
  background-color: #585858;
  border-left: 1px solid #e1e1e1;
}
 
QTabWidget::pane { /* The tab widget frame */
     border-top: 1px solid #d1d1d1;
	 background-color: #fff;
 }

 QTabWidget::tab-bar {
     left: 0px; /* move to the right by 5px */
 } 

/* ///////////////////////////////////////////
				blTool
////////////////////////////////////////////*/
#blToolExecGui{
	background-color:#fff;
}

/* ///////////////////////////////////////////
				blHideableWidget Level1
////////////////////////////////////////////*/
#blHideableWidgetTitleLevel1{
	background-color:#5A8E8E;
	border-bottom: 1px solid #fff;
}
#blHideableWidgetTitleTextLevel1{
	color:#fff;
	font-weight: bold;
	margin-left: 7px;
}

#blHideableWidgetLevel1{
	background-color: #fff;
}

QPushButton#blHideableWidgetTitleButtonLevel1{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(less_neg.png);
}

QPushButton#blHideableWidgetTitleButtonLevel1:pressed,
QPushButton#blHideableWidgetTitleButtonLevel1:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(more_neg.png);
}

/* ///////////////////////////////////////////
				blHideableWidget Level2
////////////////////////////////////////////*/
#blHideableWidgetTitleLevel2{
	background-color:#fff;
	border-bottom: 2px solid #d1d1d1;
}
#blHideableWidgetTitleTextLevel2{
	color:#818181;
	font-weight: bold;
	margin-left: 7px;
}

#blHideableWidgetLevel2{
	background-color: #fff;
}

QPushButton#blHideableWidgetTitleButtonLevel2{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #818181;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0px;
	image: url(less.png);
}

QPushButton#blHideableWidgetTitleButtonLevel2:pressed,
QPushButton#blHideableWidgetTitleButtonLevel2:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #818181;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0px;
	image: url(more.png);
}

/* ///////////////////////////////////////////
				blHideableWidget Level3
////////////////////////////////////////////*/
#blHideableWidgetTitleLevel3{
	background-color:#fff;
	border-bottom: 0px solid #d1d1d1;
}
#blHideableWidgetTitleTextLevel3{
	color:#818181;
	font-weight: bold;
	margin-left: 7px;
}

#blHideableWidgetLevel3{
	background-color: #fff;
}

QPushButton#blHideableWidgetTitleButtonLevel3{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #818181;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 0px solid #d1d1d1;
    border-radius: 0px;
	image: url(less.png);
}

QPushButton#blHideableWidgetTitleButtonLevel3:pressed,
QPushButton#blHideableWidgetTitleButtonLevel3:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #818181;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 0px solid #d1d1d1;
    border-radius: 0px;
	image: url(more.png);
}

/* ///////////////////////////////////////////
				blHideableWidget Level4
////////////////////////////////////////////*/
#blHideableWidgetTitleLevel4{
	background-color:#5A8E8E;
	border-bottom: 1px solid #d1d1d1;
}
#blHideableWidgetTitleTextLevel4{
	color:#fff;
	font-weight: bold;
	margin-left: 7px;
}

#blHideableWidgetLevel4{
	background-color: #5A8E8E;
}

QPushButton#blHideableWidgetTitleButtonLevel4{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #5A8E8E;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
	image: url(more_neg.png);
}

QPushButton#blHideableWidgetTitleButtonLevel4:pressed,
QPushButton#blHideableWidgetTitleButtonLevel4:hover,
QPushButton#blHideableWidgetTitleButtonLevel4:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #5A8E8E;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
	image: url(more_neg.png);
}

/* ////////////////

//////////////// */
#blToolHistoryBarTitleWidget{
	background-color: #e1e1e1;
	border-bottom: 1px solid #d1d1d1;
}

#blToolHistoryBarTitleLabel{
    margin-left: 7px;
	color:#000;
	font-weight: bold;
}

#blToolHistoryBarContainer{
	background-color: red;
	border-left: 1px solid #d1d1d1;
}


#blToolExecGuiTitleWidget{
	background-color: #e1e1e1;
	border-bottom: 1px solid #d1d1d1;
}

#blToolExecGuiTitleLabel{
    margin-left: 7px;
	color:#000;
	font-weight: bold;
}

#blToolExecGui{
	background-color: #fff;
	border-right: 1px solid #d1d1d1;
}

#blToolExecGuiFillWidget{
	background-color: #fff;
}



.QWidget#blToolHistoryBarWidget{
	background-color: #fff;
}

QScrollArea{
	border: none;
	background-color: #fff;
}

QTableWidget{
	border:none;
}

/* ///////////////////////////////////////
//
// //////////////////////////////////// */
QWidget#blFinderAdminBar{
	background-color: #5A8E8E;
}

#blFinderAdminBarTitle{
	font-size: 22px;
	color: #fff;
	border: 2px solid #e1e1e1;
	border-top: 2px solid #5A8E8E;
	border-left: 2px solid #5A8E8E;
	border-right: 2px solid #5A8E8E;
	
}

#blFinderAdminBarSubTitle{
	font-size: 16px;
	color: #fff;
	border: 1px solid #e1e1e1;
	border-top: 1px solid #5A8E8E;
	border-left: 1px solid #5A8E8E;
	border-right: 1px solid #5A8E8E;
}

#blFinderAdminDefaultWidget{
	background-color: #fff;
}

#blFinderAdminTableTitle{
	font-size: 16px;
	color: #585858;
	border: 2px solid #e1e1e1;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}

#blFinderBar{
	background-color: #5A8E8E;
}

QPushButton#blFinderBarSubButton{
  margin-bottom: 0;
  font-size: 14px;
  background-color: #5A8E8E;
  border: none;
  color:#fff;
  margin-left: 7px;
  text-align: left;
}

QPushButton#blFinderBarSubButton:pressed,
QPushButton#blFinderBarSubButton:hover,
QPushButton#blFinderBarSubButton:checked {
  margin-bottom: 0;
  font-size: 14px;
  background-color: #5A8E8E;
  border: none;
  color:#d1d1d1;
  margin-left: 7px;
}


QPushButton#blFinderBarFinderButton{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
	text-align: left;
}

QPushButton#blFinderBarFinderButton:pressed,
QPushButton#blFinderBarFinderButton:hover,
QPushButton#blFinderBarFinderButton:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #d1d1d1;
	font-weight: bold;
    background-color: #5A8E8E;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0px;
	text-align: left;
}

/* ///////////////////////

///////////////////////*/
QPushButton#blSearchBarWidgetButton{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(search.png);
	width : 16px;
}

QPushButton#blSearchBarWidgetButton:pressed,
QPushButton#blSearchBarWidgetButton:checked {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(search.png);
}

/* /////////////////////
    blFinderItemTitle
///////////////////// */
#blFinderItem{
	background-color: #fff;
	border: 2px solid #e1e1e1;
	border-bottom: 4px solid #e1e1e1;
}

#blFinderItemTitle{
	text-transform: uppercase;
	color: #5A8E8E;
	font-weight: bold;
}

#blFinderItemList{
	background-color: #fff;
}

QPushButton#blFinderItemLanguageButton{
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(tutorial_lang.png);
	width : 16px;
}

QPushButton#blFinderItemOriginButton{
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(tutorial_origin.png);
	width : 16px;
}

QPushButton#blFinderItemAuthorButton{
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
	font-weight: bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
	image: url(tutorial_auth.png);
	width : 16px;
}

#blFinderItemListTitle{
	font-size: 24px;
	margin-top: 12px;
	padding-bottom: 12px;
	padding-left: 6px;
	color: #585858;
	background-color: #fff;
	border-bottom: 2px solid #e1e1e1;
}

#blFinderItemListScroll .QWidget{
	background-color: #fff;
}

#blFinderItemDesc{
	border: none;
}

 /* ///////////////////////////////////
 blTileWidget
///////////////////////////////////// */

QPushButton#blHomeButton {
  border: 0px solid #5A8E8E;
  border-radius: 0px;
  background-color: #5A8E8E;
  width: 180px;
  height: 85px;
}

QPushButton#blHomeButton:hover {
  /*background-color: #256A6A;*/ 
}
 
QPushButton#blHomeButton:pressed {
  background-color: #5A8E8E;
 }

QPushButton#blHomeButton:flat {
  border: none; 
 }

QPushButton#blHomeButton:default {
  border-color: navy; 
 } 

#blHomeButtonLabel{
    qproperty-alignment: AlignCenter;
    text-transform: uppercase;
	color: #fff;
}

#blHomeWidgetTile{
	background-color: #5A8E8E;
	width: 180px;
	height: 85px;
}

#blHomeWidgetTile:hover{
	border: 2px solid #256A6A;
}
 /* // ///////////////////////////////////////////////
 khMainWindowToolBar
// /////////////////////////////////////////////// */
#blHomeWidget{
	background-color: #fff;
}

#blHomeToolBar{
	background-color: #5A8E8E;
	border: none;
}

#blHomeToolBar:handle{
	background-color: rgba( 01, 81, 81, 00% );
}

#blHomeToolBar QPushButton{
	border: none;
	height: 40px; 
	width: 40px;
	border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}
#blHomeToolBar QPushButton:hover{
	border: none; 
	background-color: rgba(255,255,255,60%);
}
#blHomeToolBar QPushButton:pressed{
	border: none;

	background-color: rgba(01,81,81,60%);
}
#blHomeToolBar QPushButton:checked{
	border: none;
	background-color: rgba(01,81,81,60%);;
}
#blHomeToolBar QPushButton:disabled{
	border: none; 
	background-color: rgba( 01, 81, 81, 0% );
}


/* ////////////////
  blCloseButton
/////////////////*/
QPushButton#blCloseButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 4px;
  image: url(close_neg.png);

}

QPushButton#blCloseButton:hover {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #c9302c;
}

QPushButton#blCloseButton:pressed {
border: 3px solid #c9302c;
}

QPushButton#blCloseButton:disabled {
color : #fff;
background-color: #c9302c;
border: 2px solid #c9302c;
}

/* ////////////////
  blWebBrowser
/////////////////*/
QPushButton#blWebBrowserBack {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(back.png);
  width: 48px;
  height: 48px;
}

QPushButton#blWebBrowserBack:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #5A8E8E;
}

QPushButton#blWebBrowserForward {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(forward.png);
}

QPushButton#blWebBrowserForward:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #5A8E8E;
}

QPushButton#blWebBrowserHome {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(home_web.png);
}

QPushButton#blWebBrowserHome:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #5A8E8E;
}

/* //////////////////////////////////
		   blProject
///////////////////////////////////*/
QPushButton#blProjectNewProjectButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(newproject.png);
}

QPushButton#blProjectNewProjectButton:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #5A8E8E;
}

QPushButton#blProjectHelpButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(help.png);
}

QPushButton#blProjectHelpButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
}
/* // ///////////////////////////////////////////////
 blTwoSideWidget
 // /////////////////////////////////////////////// */
#blTwoSideWidget{
    background-color: #ffffff;
}
/* // ///////////////////////////////////////////////
 blTwoSideRightContainer
 // /////////////////////////////////////////////// */
#blTwoSideRightContainer{
    border-top: 1px solid rgba(01,81,81,65%);
    border-right: 1px solid rgba(01,81,81,65%); 
    border-left: 1px solid rgba(01,81,81,65%);
	border-bottom: 1px solid rgba(01,81,81,65%);
    background-color: #ffffff; 
    border-radius: 12px; 
}

/* // ///////////////////////////////////////////////
 blTwoSideRightContainer
 // /////////////////////////////////////////////// */
#blTwoSideLeftContainer{border-left: 0px solid #000000;
    border-top: 0px solid #000000; 
    border-right: 0px solid #000000; 
    background-color: #ffffff; 
    border-bottom: 0px solid #000000; 
}

/* // ///////////////////////////////////////////////
blForm
 // /////////////////////////////////////////////// */
#blLabelFormHeader1{
    color: black;
    font: bold;
    border-top : 2px solid #aaaaaa;
    text-transform: uppercase;
}

#blLabelFormHeader2{
    color: black;
    font: italic;
    margin-left: 8px;
    border-top : 1px solid #aaaaaa;
    text-transform: uppercase;
}
 
#blForm{
    border: 1px solid rgb(01,81,81);
    border-radius: 10px;
    background-color: #ffffff ;
} 

QToolButton#blProjectSaveButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  image: url(save.png);
}

QToolButton#blProjectSaveButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #5A8E8E;
}

QToolButton#blProjectAddImageButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  image: url(add_image.png);
}

QToolButton#blProjectAddImageButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #5A8E8E;
}

QPushButton#blProjectTableColumnSelectorWidget {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(column_arrow.png);
}

QPushButton#blProjectTableColumnSelectorWidget:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
}


QPushButton#blProjectDatabaseButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(database.png);
}

QPushButton#blProjectDatabaseButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
}

QPushButton#blProjectTrashButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  image: url(trash.png);
}

QPushButton#blProjectTrashButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
}

/* ////////////////////////////////////////
          blProjectView
//////////////////////////////////////// */		  
QPushButton#blProjectViewColumnHeaderThumbnailButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #5A8E8E;
  border: 0px solid #5A8E8E;
  border-radius: 4px;
  image: url(thumbnail.png);
}

QPushButton#blProjectViewColumnHeaderThumbnailButton:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #fff;
}


QPushButton#blProjectViewColumnHeaderAddRemoveColumnsButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #5A8E8E;
  border: 0px solid #5A8E8E;
  border-radius: 4px;
  image: url(add_remove.png);
}

QPushButton#blProjectViewColumnHeaderAddRemoveColumnsButton:hover {
  color: #fff;
  background-color: #5A8E8E;
  border: 1px solid #fff;
}

QToolButton#blProjectEditLabelButton {

  margin-bottom: 0;
  font-size: 10px;
  color: #fff;
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: 2px;
  image: url(tag.png);
}

QToolButton#blProjectEditLabelButton:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #5A8E8E;
}

